.app {
    display: flex;
    height: 100vh;
  }
  
  .report-list {
    width: 30%;
    overflow-y: scroll;
    /* border-right: 1px solid #ccc; */
    padding: 20px;
    background-color: #424040;
    
  }

  .report-list-features {
    background-color: rgb(27, 26, 26);
    color: (27, 26, 26);

  }

  
  .login {
    width: 800px;
    height: 400px;
    border-radius: 15px;
    background-color: rgb(50, 50, 50);
    position: absolute;
    top: 50%;
    align-items: center;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .login-feature {
    text-align: center;
    padding-top: 10px;
  }

  
  .report-list-item {
    cursor: pointer;
    padding: 10px;
    border-bottom: 1px solid #444444;
    border-radius: 5px;
    background-color: rgb(27, 26, 26);
    color: white;
  }
  
  .report-list div:hover {
    background-color: #272727;
  }

  .report-list span:hover {
    /* fix later */

  }
  
  .report-detail {
    width: 70%;
    padding: 20px;
  }
  
  .report-detail h1 {
    margin-bottom: 20px;
  }
  
  .report-detail p {
    margin-bottom: 10px;
  }
  

/* Title Styles */

#title {
    background-color: #233eb2;
    color: white;
    font-size: 30px;
    padding: 5px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    height: 80px;
  }

  #titlep {
    align-items: center;
    font-size: 20px;
  }


  .report-detail {
    background-color: #1f1f1f;
    color: white;
  }
  .button {
    border-right: 5px;
  }

  .mantine-UnstyledButton-root {
    border-right: 5px;
  }